<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="showEditBtn()" *ngIf="!showBtn">编辑</button>
      <button ion-button (click)="hideEditBtn()" *ngIf="showBtn">完成</button>
    </ion-buttons>
    <ion-title>应用</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="grid-wrapper" *ngFor="let items of itemsByGroup">
    <div class="grid-header">{{items[0].group}}</div>
    <e-grid [items]="items" type="remove" [showBtn]="showBtn" (onSelect)="moveItemToMoreGroup($event)" (onClick)="goToDetailPage($event)"></e-grid>
    <div class="grid-footer"></div>
  </div>
  <ion-list no-lines>
    <button ion-item (click)="goToMorePage()">
    更多
  </button>
  </ion-list>
</ion-content>
